.CommentCardContainer {
  margin-top: 15px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.Comment {
  overflow: auto;
  border: 1px solid lightgray;
  border-bottom: none;
}

.Image {
  float: left;
  width: 150px;
  height: 150px;
  margin: 0 10px 0 0;
  transition: 0.5s;
}
.ImageEnlarged {
  max-width: 918px;
  width: 100%;
  max-height: 918px;
  height: 100%;
  transition: 0.5s;
}

.CommentMain {
  word-wrap: break-word;
  text-align: justify;
  font-family: sans-serif;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.Info {
  font-size: 18px;
  color: black;
  font-family: sans-serif;
  padding: 0 0 0 10px;
  background-color: #f7f7f7;
  border-top: 1px solid lightgray;
}

.HorLine {
  border-top: 1px solid lightgray;
}
