.CommentCardContainer {
  margin-top: 15px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  border: 1px solid lightgray;
}

.Comment {
  overflow: auto;
}

.ImageContainer {
  padding: 1px 0 0 1px;
}

.Image {
  float: left;
  width: 150px;
  height: 150px;
  margin: 0 10px 0 0;
}

.CommentMain {
  word-wrap: break-word;
  text-align: justify;
  font-family: sans-serif;
  padding-right: 10px;
  padding-left: 10px;
}
/* 
.ImageContainer > img:hover {
  width: 100%;
  height: 75%;
  text-align: center;
} */

.Info {
  font-size: 18px;
  color: black;
  font-family: sans-serif;
  padding: 0 0 0 10px;
  background-color: #f7f7f7;
  border-top: 1px solid lightgray;
}

.HorLine {
  border-top: 1px solid lightgray;
}
