.ArticleCard {
  width: 100%;
  /*display: inline-block !important;*/
  margin: 10px;
  padding: 0px;
}

.CardBody {
  padding: 0px 0px 0px 0px !important;
  float: left;
}

.CardImage {
  min-height: 150px;
  min-width: 54px;
  max-height: 150px;
  max-width: 150px;
  border-radius: 0 !important;
}

.CardBadge {
  margin: 0px 0px 0px 2px;
}

.Badges {
  padding: 0px 0px 0px 0px;
}

.CardTitle {
  font-size: 20px;
  font-family: sans-serif;
  padding: 5px 0px 0px 0px;
  margin: 0px !important;
  height: 71px;
}

.CardSubtitle {
  padding: 0px 0px 0px 0px;
  font-family: sans-serif;
  font-size: 14px;
  color: black;
  height: 67px;
}

.CardLink {
  max-width: 180px;
  max-height: 180px;
}
